
<h1>{{ title }} app is running!</h1>
<app-users></app-users>
<app-add-item></app-add-item>
<app-coders></app-coders>
<app-coder-form (out)="addCoder($event);"></app-coder-form>
<app-code-rform></app-code-rform><br><br>
<app-question></app-question>
<app-user27></app-user27>
<app-add-users></app-add-users>
<div>
    <h2>Routing Example</h2>
    <nav>
        <a routerLink="one">First</a> +
        <a routerLink="two">Second</a> +
        <a routerLink="three">Third</a>
    </nav>
    <router-outlet></router-outlet>
</div> 
   
